SUPABASE_URL=https://japitnvfztddvkpsgnlm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcGl0bnZmenRkZHZrcHNnbmxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1ODY2MjMsImV4cCI6MjA4OTE2MjYyM30.zCHvgjZ53EtvteWHBDfvbAiiT11rG3MnrnzIOIjPNVI
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcGl0bnZmenRkZHZrcHNnbmxtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU4NjYyMywiZXhwIjoyMDg5MTYyNjIzfQ.5ZLt-7fHmRsQ7Dsa_WzcTNy1N0rI3NFWr0jG68Hawn8
DATABASE_URL=postgresql://postgres.japitnvfztddvkpsgnlm:A7zjX+F$c9tKf4G@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
VITE_SUPABASE_URL=https://japitnvfztddvkpsgnlm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcGl0bnZmenRkZHZrcHNnbmxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1ODY2MjMsImV4cCI6MjA4OTE2MjYyM30.zCHvgjZ53EtvteWHBDfvbAiiT11rG3MnrnzIOIjPNVI
